
.clicker,
.clickity {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}
.clicker{
    background-color: black;
    color: white;
}
.clickity {
    color: black;
    background-color: yellow;
}