.pinkish {
    background-color: rgb(231, 111, 111);
    font-family: Verdana, sans-serif;
}

.pinkish.two {
    font-size: 24px;
}

#one {
    color: blue;
    font-size: 36px;
}

#two {
    background-color: rgb(59, 214, 59);
    font-size: 24px;
    font-weight: bold;
}
