body{
    margin: 0;
}

#main-container{
    display: grid;
}

*{
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
    grid-template-areas:
        "header header"
        "sidebar nav"
        "sidebar article"
        "footer footer"
}

/*.container > *{
    border-radius: 15px;
} */

.header{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-area: header;
    background-color: rgb(48, 48, 43);
    align-items: center;
}
.header > ul > a{
    text-decoration: none;
    font-size: 10px;
}

.header > ul > h1 {
    font-weight: bold;
    font-size: 20px;
}
.header > ul{
    text-align: center;
    font-size: x-small;
}

.sidebar{
    display: grid;
    grid-area: sidebar;
    background-color: red;
}

.sidebar > ul{
    display: grid;
    background-color: white;
    color: black;
    gap: 50px;
    margin: 10% 5%;
    border-radius: 15px;
    align-content: center;
}

.nav{
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-area: nav;
    background-color: aqua;
    align-items: center;
}
.nav > ul > a{
    text-decoration: none;
    font-size: 15px;
}

.article{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:15px;
    grid-area: article;
    background-color: wheat;
    color: black;
}

.article > ul{
    color: black;
    background-color: white;
    list-style: none;
    margin: 2%;
    padding: 0;
}

.article > ul > h3{
    color: black;
}

.footer{
    display: grid;
    grid-area: footer;
    background-color: black;
    align-items: center;
}